#navlist {
    position: relative;
	margin-top: -35px;
	margin-left: 200px;
}

#navlist li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}

#navlist li, #navlist a {
    height: 44px;
    display: block;
}

#accueil {
    left: 0;
    width: 50px;
    background: url('../assets/images/favicons/sprite.png') -50px -50px;
	background-size: 150px 150px;
}

#couleur {
    left: 50px;
    width: 50px;
    background: url('../assets/images/favicons/sprite.png') -50px -100px;
	background-size: 150px 150px;
}

#contact {
    left: 100px;
    width: 50px;
    background: url('../assets/images/favicons/sprite.png') 0 -100px;
	background-size: 150px 150px;
}

#navlist2 {
    position: relative;
	margin-top: -25px;
	margin-left: 475px;
}

#navlist2 li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}

#navlist2 li, #navlist a {
    height: 44px;
    display: block;
}

#facebook {
    left: 0;
    width: 50px;
    background: url('../assets/images/favicons/social.png') 0 0;
	background-size: 150px 150px;
}

#instagram {
    left: 50px;
    width: 50px;
    background: url('../assets/images/favicons/social.png') -50px 0;
	background-size: 150px 150px;
}

#twitter {
    left: 100px;
    width: 50px;
    background: url('../assets/images/favicons/social.png') -100px 0;
	background-size: 150px 150px;
}